<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Text on Colour!</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0//css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/farbtastic/farbtastic.css" type="text/css">

</head>

<body>

  <header>
    <nav>
      <div class="nav-wrapper #212121 grey darken-4">
        <a href="/" class="brand-logo center"><span id="grad1">JS Colour Picker</span></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
          <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        </ul>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="images/background.png">
          </div>
          <a href="/">
            <h5><strong>Colour Picker</strong></h5>
          </a>
          <br><br>
        </div>
      </li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">cloud</i>About This Project</div>
          <div class="collapsible-body">
            <a class="waves-effect" href="/about">Application Process</a>
            <a class="waves-effect" href="/about">Motivation for Development</a>
            <a class="waves-effect" href="/about">Design Process</a>
            <a class="waves-effect" href="/about">Furture Developments</a>
          </div>
        </li>
      </ul>
      <li><a href="/back-end"><i class="material-icons">build</i>Back-end Structure</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Artificial Intelligence Picker</a></li>
      <li><a class="waves-effect" href="/colourpicker">Pick a Colour!<i class="material-icons">edit</i></a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </header>
  <main>
    {{{ body }}}
  </main>

  <footer class="page-footer #212121 grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 id="grad1">JS Colour Picker</h5>
          <p id="grad1">JS Colour picker write something cool here</p>
        </div>
        <div class="col l4 offset-l2 s12">

          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/kalieshapickering/text-on-colour"><strong>GitHub
                  Repo</strong></a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Arvin's Portfolio</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Kaliesha's Portfolio</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Gaby's Portfolio</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Jon's Portfolio</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright #000000 black">
      <div class="container">
        Coded with ♡ by Arvin, Kaliesha, Gaby &amp; Jon </div>
    </div>
  </footer>
  <script></script>

  <!-- components -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script type="text/javascript" src="/farbtastic/farbtastic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

  <script type="text/javascript" src="/javascript/colourpicker.js"></script>
  <script type="text/javascript" src="/javascript/app.js"></script>

</body>

</html>