<div class="container">

    <a name="process">
<h1>Process!</h1>
    <a name="motivation">
<h1>Motivation!</h1>

    <h4 class="center"><strong>About This Project</strong></h4>
    <a href="#" class="previous round">&#8249;</a>
    <div class="row">
        <div class="card-panel about2 #9e9e9e grey">
           
            {{!-- {{> (whichPartial) }} --}}
        </div>
    </div>
    <a href="#" class="next round">&#8250;</a>
</div>