<div class="container">
    <h4 class="center"><strong>About This Project</strong></h4>
    <div class="leftArrow"></div>
    <div class="row">
        <div class="card-panel about2 #9e9e9e grey">
        {{#each about}}
            {{#> aboutinfo}}

            {{/aboutinfo}}
        
{{/each}}
        </div>
    </div>
    <div class="rightArrow"></div>
</div>
<script src="/javascript/about.js"></script>