<div class="container">
    <h1>The Motivation!</h1>


    <p>
        <ul>
            <li>  <i class="material-icons">computer</i> Use the tools provided as a Full Stack developer to combine with the new trends technologies of automation. </li> <br>
            <li>  <i class="material-icons">computer</i> Understand Artificial Intelligence (AI) technologies and algorithms which help computers to take decision based on statistical values and training process. </li> <br>
            <li> <i class="material-icons">computer</i> Learn how to use the available tools to built and compute Neural Networks.  </li> <br> 
            <li> <i class="material-icons">computer</i> Built  a practical application as a preambule for future works, that helps to take decision.  </li> <br>
            <li> <i class="material-icons">computer</i> Learn how to use the strengths and Weaknesses for each team member in our advantage.  </li> <br>


        </ul>

    </p>

</div>