<div class="container">
    <div class="row">
        <h4 class="center">
            <stong>Backend Structure</stong>
        </h4>

        <div class="row">
            <div class="card-panel about2 #9e9e9e grey">
                <h5>Visual Neurual Net</h5>
                <br>
                <p class="grey-text text-lighten-4">lalalal</p>
                <h5>Technologies Used for this Project</h5>
                <br>
                <div class="row">
                    <div class="col s3"><img class="responsive-img" src="/images/brainjs.png" /><strong>Brain.js</strong></div>
                    <div class="col s3"><img class="responsive-img" src="/images/sequelize.png" /><strong>Sequelize</strong></div>
                    <div class="col s3"><img class="responsive-img" src="/images/eslint.png" /><strong>EsLint</strong></div>
                </div>
                <div class="row">
                    <div class="col s3"><img class="responsive-img" src="/images/moment.png" /><strong>Moment</strong></div>
                    <div class="col s3"><img class="responsive-img" src="/images/mocha.png" /><strong>Mocha</strong></div>
                    <div class="col s3"><img class="responsive-img" src="/images/chai.jpeg" /><strong>Chai</strong></div>

                </div>
                <div class="row">
                    <div class="col s3"><img class="responsive-img" src="/images/materialize.png" /><strong>Materialize</strong></div>
                    <div class="col s3"><img class="responsive-img" src="/images/handlebars.png" /><strong>HandleBars</strong></div>
                    <div class="col s3"><img class="responsive-img" src="/images/mysql.png" /><strong>MySql</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>