<div class="container">
    <div class="row">
        <h4 class="center">
            <stong>Backend Structure</stong>
        </h4>

        <div class="row">
            <div class="card-panel about2 #9e9e9e grey">
                <h5><strong>Visual Neural Net</strong></h5>
                <br>
                <p class="grey-text text-lighten-4">lalalal</p>
                <h5><strong>Technologies Used for this Project</strong></h5>
                <br>
                <div class="row">
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/brainjs.png" /><h4 class="libraryTitle">Brain.js</h4></div>
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/sequelize.png" /><h4 class="libraryTitle">Sequelize</h4></div>
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/eslint.png" /><h4 class="libraryTitle" >EsLint</h4></div>
                </div>
                <div class="row">
                    <div class="col s3"><img class="responsive -im libraryLogosg" src="/images/farbtastic.png" style="width: 150px; margin-left: 60%;"/><h4 class="libraryTitle">Farbtastic</h4></div>
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/mocha.png" /><h4 class="libraryTitle"> Mocha</h4></div>
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/chai.jpeg" /><h4 class="libraryTitle"> Chai</h4></div>

                </div>
                <div class="row">
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/materialize.png" /><h4 class="libraryTitle">Materialize</h4></div>
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/handlebars.png" /><h4 class="libraryTitle"> HandleBars</h4></div>
                    <div class="col s3"><img class="responsive-img libraryLogos" src="/images/mysql.png" /><h4 class="libraryTitle"> MySql</h4></div>
                </div>
            </div>
        </div>
    </div>
</div>