<div id="container">
  <h3 class="cpTitle">Which background looks best with <span></span> text?</h3>
 <div class="row">
      <div class="col s6 boxes">
      <div class="colour1" value="#123456">

      </div>
  </div>
    <div class="col s6">
        <div class="colour2" value="#123456">

        </div>
 </div>
    </div>
</div>