<div id="container" class="trainPage">
    <h3>Which background looks best with <span></span> text?</h3>
    <div class="row">
        <div class="col s6 boxes">
            <div class="colour1" value="#123456">

            </div>
        </div>
        <div class="col s6">
            <div class="colour2" value="#123456">

            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/brain.js@1.0.0-rc.3/browser.js"></script>
<script src="/javascript/recieveNN.js"></script>
<script src="/javascript/colourTrain.js"></script>