<div id="container" class="trainPage">
    <h3>Which background looks best with text?</h3>
    <div class="row" id="boxesContainer">
        {{!-- <div class="col s6"> --}}
            <div class="colour1 inputBox col s5" data-colour='{ "white" : 1 }'>
                <p class="colourText" id="whiteText">White</p>
            </div>
            {{!-- </div> --}}
        {{!-- <div class="col s6"> --}}
            <div class="colour2 inputBox col s5" data-colour='{ "black" : 1 }'>
                <p class="colourText" id="blackText">Black</p>
            </div>
            {{!-- </div> --}}
    </div>
</div>
<script src="https://unpkg.com/brain.js@1.0.0-rc.3/browser.js"></script>
<script src="/javascript/recieveNN.js"></script>
<script src="/javascript/colourTrain.js"></script>