<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="jumbotron mt-4">
                    <form><input type="text" id="color" name="color" value="#123456" /></form>

                    <div id="colorpicker"></div>
                </div>
            </div>
        </div>
    </div>