<div id="colourPickerContainer">
    <p id="color"></p>
    <div id="colorpicker" class="main"></div>
</div>
<script src="https://unpkg.com/brain.js@1.0.0-rc.3/browser.js"></script>
<script src="/javascript/recieveNN.js"></script>
<script src="/farbtastic/farbtastic.js"></script>
<script src="/javascript/colourpicker.js"></script>