/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1024px) {

    /* index */
    #colorpicker {
        margin-left: 41% !important;
        margin-top: 4% !important;
    }

    #color {
        margin-top: 5% !important;
        margin-left: 28% !important;

    }
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {

    /* index */
    #colorpicker {
        margin-left: 41% !important;
        margin-top: 4% !important;
    }

    #color {
        margin-top: 4% !important;
        margin-left: 35% !important;
        font-size: 30px !important;

    }

}