body {
    background-color: rgb(237, 237, 237);
}

#color {
    font-size: 75px;
    font-weight: bolder;
    display: inline-block;
    white-space: nowrap;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colourPickerContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colour1 {
    float: left;
}

.colour2 {
    float: right;
}

.cpTitle {
    margin-left: 27%;
}

.grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.backfeature {
    border-radius: 6%;
}

a:not(.githubLink) {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    color: black;
}

.previous {
    background-color: rgb(52, 49, 49);
    color: white;
}

.next {
    background-color: rgb(52, 49, 49);
    color: white;
}

.round {
    border-radius: 50%;
}

.searchBar {
    margin-top: 7% !important;
    margin-left: -2% !important;
    width: 87%;
}

.searchIcon {
    margin-top: -73% !important;
    margin-left: -22% !important;
}

.close {
    margin-top: -10% !important;
}

.inputBox {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    height: 273px;
    width: 350px;
}

.colourText {
    font-size: 75px;
    font-weight: bold;
}

#whiteText {
    color: #ffffff;
}

#blackText {
    color: #000000;
}

.flowchart {
    max-width: 100%
}

.next {
    margin-top: 987%;
}

.previous {
    margin-top: 987%;
}

.libraryLogos {
    width: 150px;
    display: block;
    margin-left: 60%;
}

.libraryTitle {
    margin-left: 60%;
}

.ffnImage {
    width: 450px;
}

.grey-text {
    line-height: 1.5em;
    font-size: 1em;
}

h2 {
    letter-spacing: 2px;
}

.about2 {
    max-width: 850px;
}

.farbtastic {
    margin: 0 auto !important;
    margin-top: 5px !important;
}

#boxesContainer {
    display: absolute;
    /* justify-content: space-evenly; */
    width: 120%;
    margin: 0 auto !important;
}

.trainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60em;
}

.githubLink:hover {
    text-decoration: underline !important;
}

.githubLink {
    -webkit-text-fill-color: currentColor !important;
    display: inline;
}