body {
    background-color: rgb(237, 237, 237)
}
#colorpicker {
    margin-left: 739px !important;
    margin-top: 25px !important;
}

.main {
    margin-top: -50px !important;
    margin-left: 400px !important;
}

#color {
    margin-top: 115px;
    margin-left: 601px;
    font-size: 75px;
    font-weight: bolder;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.colour1 {
    border-style: solid;
    border-width: 10px;
    height: 273px;
    width: 350px;
    margin-left: 38%;
    margin-top:3%;
}

.colour2 {
    border-style: solid;
    border-width: 10px;
    height: 273px;
    width: 350px;
    margin-left: 10%;
    margin-top:3%;
}

.cpTitle{
    margin-left: 27%;
}

#grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.backfeature{
    border-radius: 6%;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color:rgb(52, 49, 49);
    color: white;
}

.next {
    background-color: rgb(52, 49, 49);
    color: white;
}
.round {
    border-radius: 50%;
}
.searchBar{
    margin-top: 7% !important;
    margin-left: -2% !important;
    width: 87%;
}
.searchIcon{
    margin-top: -73% !important;
    margin-left: -22% !important;
    
}
.close{
    margin-top: -10% !important;
}